.btn{
	
}
/*center header*/
#centerHeader {
    text-align: center;
}


/*image slideshow*/
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 100px; 
    height: 100px; 
    padding: 5px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 5px; 
    left: 5px; 
    right: 5px; 
    bottom: 5px; 
}